<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #a7bc5b;">

  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'post'%}">New flashcard</a>
        </li>
  
      </ul>
      <form class="form-inline my-1" role="search" action="{% url 'search' %}">
        <div class="md-form form-sm my-0">
          <input type="text" class="form-control" placeholder="Search for a project" name="project">
        </div>
      </form>
      <!-- Links -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333" style="background: none;border:none;">
            <div class="signup">
                {%if user.is_authenticated %}    <!--Interchanges login/log out buttons depending on user's state-->
                      <form class="signup1" action="{% url 'accounts:logout' %}" method="post">                          
                          {% csrf_token %}
                          <button type="submit" class="signup1">Logout</button>
                      </form>
                  {% else %}
                    <a href="{%url 'accounts:login' %}" >Login</a>
                    <br>
                    <a href="{%url 'accounts:signup' %}" >Signup</a>
                    <br>
                    <a class="dropdown-item" href="{% url 'edit' %}">Edit profile</a>
                  {% endif %}
                  <hr>
              <a href="{%url 'myprofile'%}"><strong>My profile</strong></a>
              </div>
          </div>
        </li>
      </ul>
      <a class="nav-link" href="{%url 'index'%}"><i class="fa fa-home" style="color:white;" aria-hidden="true"></i></a>
      
    </div>
    <!-- Collapsible content -->
  
  </nav>
  